.bg-color{
  background-color: #CAD5E2;
}


h1{
  color: steelblue;
}

#mobile{
  color: purple;
}

/* card style */
#card-container img{
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
}
#card-container{
  text-align: center;
}
